:root {
  --brown-oklch: 0.3546 0.0111 44.69;
  --brown-800-oklch: 0.4966 0.0257 80.55;
  --brown-600-oklch: 0.6183 0.0104 52.01;
  --brown-500-oklch: 0.6958 0.0049 34.31;
  --brown-200-oklch: 0.8133 0.0183 81.32;
  --offwhite-oklch: 0.9726 0.0124 75.37;
  --white-oklch: 1 0 0;
  --black-oklch: 0 0 0;
  --salmon-oklch: 0.8036 0.0489 53.52;
  --accent-oklch: 0.6937 0.1792 47.49;
}

.light-theme {
  --theme-bg: oklch(var(--offwhite-oklch));
  --theme-bg-subtle: oklch(var(--brown-200-oklch));

  --theme-body: oklch(var(--brown-oklch));
  --theme-fg-subtle: oklch(var(--brown-600-oklch));
  --theme-divider: oklch(var(--brown-600-oklch));
  --theme-overlay: oklch(var(--white-oklch));

  --theme-current-bg: var(--theme-bg);
  .bg-bg-subtle {
    --theme-current-bg: var(--theme-bg-subtle);
    --theme-fg-subtle: oklch(var(--brown-800-oklch));
  }
}

.dark-theme {
  --theme-bg: oklch(var(--brown-oklch));
  --theme-bg-subtle: oklch(var(--brown-800-oklch));

  --theme-body: oklch(var(--white-oklch));
  --theme-fg-subtle: oklch(var(--brown-500-oklch));
  --theme-divider: oklch(var(--brown-500-oklch));
  --theme-overlay: oklch(var(--black-oklch));

  --theme-current-bg: var(--theme-bg);
  .bg-bg-subtle {
    --theme-current-bg: var(--theme-bg-subtle);
    --theme-fg-subtle: oklch(var(--brown-200-oklch));
  }
}

@theme {
  --color-brown: oklch(var(--brown-oklch));
  --color-brown-800: oklch(var(--brown-800-oklch));
  --color-brown-600: oklch(var(--brown-600-oklch));
  --color-brown-500: oklch(var(--brown-500-oklch));
  --color-brown-200: oklch(var(--brown-200-oklch));
  --color-offwhite: oklch(var(--offwhite-oklch));
  --color-white: oklch(var(--white-oklch));
  --color-black: oklch(var(--black-oklch));
  --color-salmon: oklch(var(--salmon-oklch));
  --color-accent: oklch(var(--accent-oklch));
}

@theme inline {
  --color-bg: var(--theme-bg);
  --color-bg-subtle: var(--theme-bg-subtle);
  --color-body: var(--theme-body);
  --color-fg-subtle: var(--theme-fg-subtle);
  --color-divider: var(--theme-divider);
  --color-overlay: var(--theme-overlay);
  --color-current-bg: var(--theme-current-bg);
}

body,
.dark-theme:not(.theme-vars-only),
.light-theme:not(.theme-vars-only) {
  @apply bg-bg text-body;
}
