/*
If these change, make sure to update the respective values in the type styles.
*/

:root {
  --gut: 1.125rem; /* 18px */
  --btnHeight: calc(var(--gut) * 1.3);
}
/* 400px */
@media (min-width: 25rem) {
  :root {
    --gut: 1.25rem; /* 20px */
  }
}
/* 500px */
@media (min-width: 31.25rem) {
  :root {
    --gut: 1.5625rem; /* 25px */
  }
}
/* 600px */
@media (min-width: 37.5rem) {
  :root {
    --gut: 1.875rem; /* 30px */
  }
}
/* 768px */
@media (min-width: 48rem) {
  :root {
    --gut: 1.875rem; /* 30px */
    --btnHeight: calc(var(--gut) * 0.95);
  }
}
/* 1024px */
@media (min-width: 64rem) {
  :root {
    --gut: 1.8125rem; /* 29px */
    --btnHeight: calc(var(--gut) * 0.85);
  }
}
/* 1280px */
@media (min-width: 80rem) {
  :root {
    --gut: 2.25rem; /* 36px */
  }
}
/* 1440px */
@media (min-width: 90rem) {
  :root {
    --gut: 2.5rem; /* 40px */
  }
}

/* Custom Media Queries */
@custom-variant widescreen (@media (min-aspect-ratio: 16/10));
