@theme inline {
  --font-sans: 'Helvetica Neue', var(--inter), 'Inter', sans-serif;
  --font-mono: var(--ibm-plex-mono), monospace;
}

/*
Use ts-size utility to set font size as proportion of gut size.
Example: ts-size-24/40 → font-size = var(--gut) × (24÷36)
*/

/* Headings */
.ts-h1 {
  @apply leading-130 font-normal ts-size-30/18 md:ts-size-30/30 lg:ts-size-44/40;
}

.ts-h2 {
  @apply leading-130 font-normal ts-size-26/18 md:ts-size-26/30 lg:ts-size-32/40;
}

.ts-h3 {
  @apply leading-130 font-normal ts-size-20/18 md:ts-size-20/30 lg:ts-size-24/40;
}

.ts-h4 {
  @apply leading-130 font-normal ts-size-17/18 md:ts-size-17/30 lg:ts-size-22/40;
}

/* Labels */
.ts-h5 {
  @apply font-mono uppercase font-normal leading-110 tracking-4 ts-size-11/18 md:ts-size-11/30 lg:ts-size-13/40;
}

.ts-ol-num {
  @apply font-mono uppercase font-normal leading-110 tracking-2 ts-size-10/18 md:ts-size-10/30 lg:ts-size-12/40;
}

/* Paragraphs */

.ts-p-md {
  @apply leading-160 ts-size-15/18 md:ts-size-15/30 lg:ts-size-20/40;
}

.ts-p-sm {
  @apply leading-160 ts-size-13/18 md:ts-size-14/30 lg:ts-size-18/40;
}

.ts-p-xs {
  @apply leading-160 ts-size-12/18 md:ts-size-12/30 lg:ts-size-16/40;
}

.ts-p-xxs {
  @apply leading-160 ts-size-10/18 md:ts-size-10/30 lg:ts-size-12/40;
}

/* Misc */
.ts-main-nav {
  @apply leading-none ts-size-26/18 md:ts-size-30/30 lg:ts-size-15/40;
}

.inline-link {
  @apply nice-underline transition-opacity hover:opacity-50;
}
